In [169]:
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
oil = pd.read_csv("World_Oil_price.csv")
oil

,Price,Close,High,Low,Open,Volume
0,Ticker,CL=F,CL=F,CL=F,CL=F,CL=F
1,Date,NaN,NaN,NaN,NaN,NaN
2,2015-01-02,52.689998626708984,55.11000061035156,52.029998779296875,53.7599983215332,268708
3,2015-01-05,50.040000915527344,52.72999954223633,49.68000030517578,52.61000061035156,375782
4,2015-01-06,47.93000030517578,50.369998931884766,47.54999923706055,50.0,451642
...,...,...,...,...,...,...
2511,2024-12-24,70.0999984741211,70.43000030517578,69.36000061035156,69.55999755859375,122602
2512,2024-12-26,69.62000274658203,70.75,69.33000183105469,70.19999694824219,144877
2513,2024-12-27,70.5999984741211,70.75,69.44000244140625,69.68000030517578,172641
2514,2024-12-30,70.98999786376953,71.55999755859375,70.12000274658203,70.41999816894531,199296
2515,2024-12-31,71.72000122070312,72.0199966430664,70.87000274658203,71.1500015258789,151155

In [171]:
oil.columns

Index(['Price', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [172]:
oil.rename(columns={'Price': 'Date'}, inplace=True)

In [173]:
oil.drop([0,1], axis=0, inplace=True)

In [174]:
oil = oil.iloc[:, [0, 4, 2, 3, 1, 5]]
oil

,Date,Open,High,Low,Close,Volume
2,2015-01-02,53.7599983215332,55.11000061035156,52.029998779296875,52.689998626708984,268708
3,2015-01-05,52.61000061035156,52.72999954223633,49.68000030517578,50.040000915527344,375782
4,2015-01-06,50.0,50.369998931884766,47.54999923706055,47.93000030517578,451642
5,2015-01-07,48.0,49.310001373291016,46.83000183105469,48.650001525878906,460083
6,2015-01-08,48.779998779296875,49.650001525878906,47.72999954223633,48.790000915527344,362081
...,...,...,...,...,...,...
2511,2024-12-24,69.55999755859375,70.43000030517578,69.36000061035156,70.0999984741211,122602
2512,2024-12-26,70.19999694824219,70.75,69.33000183105469,69.62000274658203,144877
2513,2024-12-27,69.68000030517578,70.75,69.44000244140625,70.5999984741211,172641
2514,2024-12-30,70.41999816894531,71.55999755859375,70.12000274658203,70.98999786376953,199296
2515,2024-12-31,71.1500015258789,72.0199966430664,70.87000274658203,71.72000122070312,151155

In [175]:
oil['Date'] = pd.to_datetime(oil['Date'])
oil.set_index('Date', inplace=True)

In [176]:
oil = oil.astype('float64')

In [177]:
oil.to_csv('Modify_World_Oil_price.csv')